.homepage{
    background-image:
    linear-gradient(
      rgba(52, 53, 54, 0.6),
      rgba(46, 47, 48, 0.6)
    ),
 
    url("coverImage.png");

    background-size: cover;
    background-position: center;
    padding: 1.5rem 5rem;
    height: calc(100vh - 5rem);
   color: whitesmoke;
  
    /* margin: 1.0rem; */
    opacity: calc(0.8);

}

.homepage section {
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
  }

  .homepage h1 {
    font-size: 4.5rem;
    line-height: 1.3;
    font-family: "Monoton";
    
    color: rgb(245, 242, 237);
  }

  .homepage h2 {
    width: 90%;
    font-size: 2.3rem;
    color: rgb(245, 242, 237);
    
    line-height: 1.5;
    word-spacing: .5rem;
    /* letter-spacing: -5px; */
    margin-bottom: 2.5rem;
  }