.addForm {
    background-color: #4eca98;
    width: 100%;
  
    padding: 2.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    color: indigo;
    margin: 0 auto;
  }

  .select{
  background-color: #e4e4e3;
  color: #5a3e2b;
  border: none;
  border-radius: 4rem;
  padding: 1rem ;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 1rem;
  width: 10rem;
}

.input{
    background-color: #e4e4e3;
    color: #5a3e2b;
    border: none;
    border-radius: 7rem;
    padding: 1rem ;
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 1rem;
    }
    
    .formButton {
        width: 30%;
        padding: 1.0rem;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: whitesmoke;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 2rem;
        cursor: pointer;
}
  