
.list {
  background-color: #6e6e6f;
  color: whitesmoke;
  padding: 3rem 0;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  height: 40vh;

}

.list ul {
  list-style: none;
  width: 80%;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}
