.footer{
  
        background-color: #76c7ad;
        text-align: center;
        font-weight: 700;
        padding: 3.2rem 0;
    
}

.footer button{
    background-color:#616162;
    color: whitesmoke;
    padding: 1.2rem 2.5rem;
    border: none;
    border-radius: 10%;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin: 1.5rem;
}