.container {
    border-radius: 1rem;
    margin: 2rem 1rem 1rem 2rem;    
    color: rgb(250, 249, 248);
    outline: 2px solid #222;
    /* outline-offset: 1.2rem; */
    display: flex;
    flex-direction: column;
    min-width: 60%;
    align-items: center;
    background-color: rgb(93, 92, 92);
    gap: 4rem;
    padding: 3rem 3rem;
 
}

.weatherData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.weatherContainer {
    display: flex;
    gap: 1rem; /* Space between each day's weather data */
    padding: 1rem;
}

.day {
    font-weight: bold;
    margin-bottom: 10px;
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.minTemp, .maxTemp {
    margin: 2px 0;
}