@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

@import"https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" ;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    font-family: "Poppins", sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
  }

  .linkStyle:link,
.linkStyle:visited {
  display: inline-block;
  background-color: whitesmoke;
  color: darkslateblue;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.0rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
  